@charset "UTF-8";
/*LOGO*/
#logo {
  padding-left: 125px;
  margin-top: -25px;
  margin-bottom: 25px;
  width: auto;
  height: auto; }

/* ENLACES DEL HEADER */
  
#registro {
  color: #000;
  float: right;
  padding-right: 140px;
  margin-top: -20px;
 }
.cuenta {
  color: #000;
  float: right;
  margin-top: 100px;
  padding-right: 120px;
  display: flex; }

.micuenta {
  color: #000;
  padding-right: 30px; }

.micesta {
  color: #000;
  padding-right: 30px; }

.ajustes {
  color: #000;
 }

/*BARRA DE NAVEGACION*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font: 0.75em/1.5 sans-serif;
  background: white;
  margin-top: 50px; }

body {
  overflow: auto; }

/**
 * Tabs object.
 *
 * 1. Tables (kinda) for layout!
 * 2. This is the magic bit; make all children occupy equal width.
 * 3. Required to make the tabs fill their container.
 * 4. Make each tab pack up horizontally.
 * 5. Ensure the hit area covers the whole tab.
 */
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  /* [1] */
  table-layout: fixed;
  /* [2] */
  width: 100%;
  /* [3] */ }

.tabs__item {
  width: 100%;
  float: left; }

@media screen and (min-width: 40em) {
  .tabs__item {
    display: table-cell;
    /* [4] */
    float: none;
    width: auto; } }
.tabs__link {
  display: block;
  /* [5] */ }

/**
 * Primary nav. Extends .tabs.
 *
 * 1. Stop tabs corners leaking out beyond our 4px round.
 */
.primary-nav {
  text-align: center;
  border-radius: 0;
  overflow: hidden;
  /* [1] */ }

.primary-nav a {
  padding: .75em 1em;
  color: white;
  background: black;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #000;
  font-family: Share, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.75em; }

.primary-nav a:hover {
  color: black;
  background: #1067ca; }

/* Responsive-nav.js */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.disable-pointer-events {
  pointer-events: none !important; }

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
.nav-collapse {
  list-style: none;
  width: 100%;
  float: left;
  color: #000; }

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right; }

.nav-toggle:before {
  color: #1067ca;
  /* Si editamos el color cambiamos el color de la interaccion Javascript del navegador */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "Ôëí";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0; }

.nav-toggle.active::before {
  font-size: 24px;
  content: "x"; }

footer {
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white; }

/*# sourceMappingURL=paginaInicio.css.map */
/* PÁGINA DE REGISTRO */
.encabezado{
  padding-top: 50px;
  padding-left: 50px;
}

/* PÁGINA PRINCIPAL */
.secciones{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  align-items: stretch;
  align-content: space-around;
  justify-content: space-between;
  
  }
.titulo{
  text-align: center;
  font-weight: bold;
}

.tittle:hover{
  
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}

#photo{
  width: 500px;
  height: 500px;
  object-fit: scale-down;
  
}
#photo:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
#photo {overflow:hidden;}


/* SECCIÓN MARCAS NAVEGADOR PRINCIPAL */
.contenedor{
  margin-top: 25px;
  margin-bottom: 25px;
  display:inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  align-content: stretch;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.marca{
  -webkit-animation-duration: 0.75s;
  animation-duration:0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  
}
.marca:hover{
  transform: scale(1,1.1);
}

.marca
{
        opacity:0.9;
}
.marca:hover
{
        opacity:1.2;
}

a img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* FORMULARIO DE CONTACTO */
form{
  margin: 50px;
  margin-left: 50px;
}
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}

/* ANIMACIÓN BOTÓN FORMULARIO CONTACTO */
.campo{
  border-radius: 5px;
  background-color: #6591b8;
}

.boton{
  text-decoration:none;
font-weight:600;
font-size:20px;
color:#000000;
padding-top:10px;
padding-bottom:10px;
padding-left:20px;
padding-right:20px;
background-color:#6591b8;
}

/* NEUMÁTICOS */
.neumaticos .card{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  align-items: stretch;
  align-content: space-around;
  justify-content: space-between;
  
  }
  
.foto{
  text-align: center;
  
}
.card {
  flex: 0 0 300px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 5px  rgba(0,0,0,0.3);
} 

.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: #337ab7;
  border: 0;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 5px;
  padding-bottom: 10px;
  width: 50%;
  }

button:hover{
border-radius : 50% ;
}
/* KEYFRAMES PARA LA ANIMACIÓN DLE BOTÓN AÑADIR A LA CESTA */
@-webkit-keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
/* ANIMACIÓN AÑADIR A LA CESTA */
button:hover
{
-webkit-animation: swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}

#fotoProducto{
  object-fit: contain;
}

.foto{
  -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 4s;
}

.foto:hover{
  width: 300px;
  height: 300px;
}

#precio{
  text-align: right;
  width: 80%;
  float: right;
  padding-right: -10px;
 font-weight: bold;
 font-size: 2em;
 color: rgb(15, 153, 15);

}

/* ACEITE */
.aceite .card{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  align-items: stretch;
  align-content: space-around;
  justify-content: space-between;
  
  }
.fotoA:hover{
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}


.faceite{
  float: bottom;
}
  


/* CON ESTA ANIMACIÓN INDICAMOS AL CLIENTE SI EL ARTÍCULO SE ENCUENTRA EN STOCK O NO. POR EJEMPLO SI EL TÍTULO DEL PRODUCTO CAMBIA A VERDE ES QUE SE ENCUENTRA DISPONIBLE, SI POR EL CONTRARIO CAMBIA A ROJO ES QUE NO SE ENCUENTRA DISPONIBLE */
.bounceIn {
  text-decoration: none;
  color: #041cf3;
}
.bounceIn2{
  text-decoration: none;
  color: #041cf3;
}
.bounceIn:hover {
  color: rgb(15, 153, 15);
}
.bounceIn2:hover{
  color: rgb(184, 1, 1);
}
.bounceIn {
  transition: color 0.8s linear 0.2s;
}
.bounceIn2{
  transition: color 0.8s linear 0.2s;
}

/* .bounceIn:hover{
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
} */
  